*	{margin:0;padding:0}
html,body	{height:100%;font-size:1.2em;line-height:1.4em;color:black; font-family: 'gentiumw','Gentium','Gentium Plus','Gentium Basic','Times','serif';}
@font-face {
    font-family: 'gentiumw';
    src: url('fonts/gentium.eot');
    src: url('fonts/gentium.eot?#iefix') format('embedded-opentype'),
         url('fonts/gentium.woff') format('woff'),
         url('fonts/gentium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.main	{min-height:100%;margin-bottom:-4em;padding:0.5em;}
.main:after	{content:"";display:block}
li	{list-style:disc inside}
a.xx	{background-color:#333333 !important}
a.nn	{background-color:#202050 !important}
a.oo	{background-color:#205030 !important}
a.aa	{background-color:#333300 !important}
html[dir=rtl] body	{text-align:right;direction:rtl}
span.add	{font-style:italic}
.popup,
.crpopup	{position:absolute;bottom:0;display:none;background-color:#fafafa;border:.1em solid #333;width:auto;height:auto;padding:1em;line-height:1em}
.notemark:hover .popup	{display:block}
.notemark:hover .crpopup	{display:block}
.b	{display:block;margin-left:12em;text-indent:-2em}
.bdit,.bk	{font-weight:bold;font-style:italic}
.ebm,.ebp,.ebq1,.ebq2,.ebq3,.cov,.cd,.conc,.cls	{display:block;margin:.5em 0 .5em 0}
.cd,.conc,.cls	{text-align:justify}
.cd,.conc	{color:rgb(0,0,128)}
.cov	{text-align:center}
.d	{font-weight:bold;display:block;margin-top:1.4em}
.ebp	{text-indent:2em}
.ebq1	{margin-left:12em;text-indent:-4em}
.ebq2	{margin-left:8em;text-indent:-4em}
.ebq3	{margin-left:6em;text-indent:-4em}
.ebs,.ebs1,.ebs2,.ebs3	{font-weight:bold;display:block;margin:.5em 0 .5em 0;text-indent:2em;color:rgb(0,0,128)}
.ebs1	{font-size:1.2em}
.ebs3	{font-size:0.9em}
.fm,.notemark	{vertical-align:super;margin-left:.16em;line-height:0;position: relative;text-decoration:none;color:rgb(0,0,128)}
.fp	{display:block;margin:.5em 0 .5em 12em}
.f,.glo	{display:block;margin:.5em 0 .5em 0;color:rgb(0,0,128)}
.f,.x	{margin:2em;text-size:0.7em;color:rgb(0,0,128)}
.fv	{color:maroon}
.glo	{font-weight:bold;text-indent:2em}
.ib,.idx,.ie,.iex,.intro,.ip,.ili,.ili1,.io,.io1,.io2,.io3,.io4,.io,.io1,.io2,.io3,.io4,.im,.imi,.imq,.imt,.imt1,.imt2,.imt3,.imte,.iot,.ipr,.iq,.iq1,.iq2,.iq3,
.is,.is1,.is2,.is3,.notebackref,.f,.x,.notemark	{color:blue;font-size:14pt}
.ib,.idx,.ie,.iex,.intro,.ip,.zp	{margin:.5em 0 .5em 0;text-indent:2em;display:block}
.ili,.ili1,.io,.io1,.io2,.io3,.io4	{margin:.5em 0 .5em 2em;list-style-type:square;display:list-item}
.io,.io1,.io2,.io3,.io4	{list-style-type:none}
.io2	{margin-left:4em}
.io3	{margin-left:6em}
.io4	{margin-left:8em}
.im,.imi,.imq	{display:block;margin-bottom:.5em}
.imi	{text-indent:2em;margin:.5em 12em 0 12em}
.imq	{text-indent:2em;margin:.5em 0 0 12em}
.imt,.imt1,.imt2,.imt3,.imte,.iot	{font-weight:bold;display:block;margin:.5em 0 .5em 0;text-indent:2em}
.imt2,.iot	{text-indent:2em}
.ipi,.ipq,.pref,.pub,.pubinfo,.spine,
.ipr,.iq,.iq1,.iq2,.iq3	{display:block;margin:.5em 0 .5em 2em;text-indent:2em}
.iq,.iq1,.iq2,.iq3	{text-indent:-8em;margin-left:12em}
.iq2	{text-indent:-4em}
.iq3	{text-indent:-2em}
.is,.is1,.is2,.is3	{font-weight:bold;display:block;margin:.5em 0 .5em 0;color:rgb(0,0,128)}
.is,.is1	{font-size:1.2em}
.is3	{font-size:0.9em}
.keyword,.keyword1,.keyword2,.keyword3	{font-weight:bold;display:block;margin:.5em 12em .5em 0;text-indent:-12em}
.keyword2	{text-indent:-4em}
.keyword3	{text-indent:-2em}
.li,.li1,.ph,.ph1	{display:list-item;list-style-type:none;text-indent:2em}
.li2,.ph2,.phi,.li3,.ph3	{display:list-item;list-style-type:none;text-indent:4em}
.li3,.ph3	{text-indent:12em}
.m	{margin-top:0}
.mainindex	{background:rgb(255,255,255)}
.mi	{text-indent:2em;margin-top:0}
.mr	{display:block;margin:.5em 0 .5em 0;text-align:center;text-indent:2em}
.ms2,.ms3	{font-weight:bold;display:block;margin:.5em 0 .5em 0;text-align:center;text-indent:2em}
h1,h2,h3,.mt,.mt1,.mte,
.mte1,.mt2,.mte2,.mt3,.mte3	{font-weight:bold;font-size:1.2em;text-align:center}
.mt,.mt1,.mte,.mte1	{font-size:1.4em}
.mt2,mte2	{font-size:1.2em}
.qac,.k1,.nd,.sc,.xk,.k,.ior,.bd,.em,.w	{font-weight:bold}
.ndx,.no,.ft	{font-weight:normal}
.rr,.rq,.rq,.fq,.fqa,.it,.sls,.sp	{font-style:italic}
.w,.wg,.wh,.wr,.zc	{font-style:normal}
.wj	{color:rgb(128,0,0)}
.qt	{font-style:oblique}
.ord	{vertical-align:super;text-decoration:underline}
.p,.p1,.pb,.pde,.pdi	{text-indent:2em;margin-top:.5em}
.p	{display:block;font-size:1em}
.pc	{margin-top:.5em;text-align:center}
.pm,.pmo,.pmc,.psi,.pi,.pi1,.pi2,.pi3,
.pmr,.pr	{text-indent:2em}
.pi,.pi1	{margin:.5em 0 0 2em}
.pi2	{margin:.5em 0 0 4em}
.pi3	{margin:.5em 0 0 12em}
.pm,.pmo,.pmc,.psi,.pmr,.pr	{margin:.5em 2em 0 2em}
.q,.q1,.q2,.q3	{margin-top:0pt}
.q,.q1	{text-indent:-4em;margin-left:4em}
.q2	{text-indent:-2em; margin-left:4em}
.q3	{text-indent:-2em; margin-left:6em}
.qa	{margin:.5em 0 .5em 0;font-weight:bold;display:block;text-align:center}
.qc	{text-align:center}
.qm,.qm1,.qm2,.qm3	{margin-top:0;text-indent:-8em;margin-left:12em}
.qm2	{text-indent:-12em}
.qm3	{text-indent:-4em}
.r,.sr	{font-style:italic;text-align:center;margin-bottom:.5em}
.s2,.s3	{font-weight:bold;text-align:center}
.s,.s1	{font-weight:bold;text-align:center;margin-top:.6em}
.toc,.toc1,.toc2	{display:block;font-size:1em}
.toc 	{margin-left:1em;margin-right:1em}
.toc1	{margin-left:2em;margin-right:2em}
.toc2 	{font-size:0.9em;margin-left:3em;margin-right:3em}
.chapterlabel	{text-align:center;margin-top:1em;font-size:1.1em}
.chapter	{font-size:1.5em;font-weight:bold;float:left;margin-right:.3em;vertical-align:top}
.p .chapter, .q .chapter,
.q1 .chapter .q2 .chapter,
.q3 .chapter, .poetry .chapter	{margin-right:1em}
.verse	{white-space:nowrap;vertical-align:super;font-size:.6em;line-height:0}
.footnote,
.crossRefNote	{display: block; margin-top:.5em;margin-left:0em}
.notebackref	{margin: 1em}
.fine,.copyright	{font-size:10pt;color:#333333}

ul.tnav	{list-style-type:none;padding:5;margin-left:0;text-align:center}
.tnav li	{display:inline}
.tnav a	{display:inline-block;border:1px solid #000;padding:5px;background-color:#CCCCEC;text-decoration:none;color:#000;border-radius:5px}
.tnav a:visited	{color:#000040}
.tnav a:link	{color:#000040}
.tnav a:hover	{color:#FFFFFF;background-color:#4E2B75}

ul.vnav	{list-style-type:none;padding:5;margin-left:0;text-align:center;float:left}
.vnav li	{list-style-type:none}
.toc a,.vnav a	{display:block;padding:3px;background-color:#CCCCEC;border-bottom:1px solid #eee;text-decoration:none;width:12em}
.vnav a:visited	{color:#ffffff}
.toc a:link,.vnav a:link	{color: #ffffff}
.toc a:hover,.vnav a:hover	{background-color:#4E2B75 !important;color:#ffffff}
.toc a {display:inline-block;border-radius:5px; width:initial;border:1px solid #000;padding:10px;margin:10px;}


div.bookList	{float:left;margin:0px;padding:3px;width:13em;background:rgb(255,255,255)}